# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
Flutter.podspec
.symlinks/
pubspec.lock
.generated/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# Other
.DS_Store
node_modules
temp/
build/
build.log
Packages/LibGit2Swift/build_result.txt
